.table {
  position: absolute;
  top: 0;
  left: 0;
}
.bg-image {
  background:
    linear-gradient(135deg, hsla(132.8, 90.61%, 45.23%, 1) 0%, hsla(132.8, 90.61%, 45.23%, 0) 70%),
    linear-gradient(25deg, hsla(196.72, 98.94%, 43.71%, 1) 10%, hsla(196.72, 98.94%, 43.71%, 0) 80%),
    linear-gradient(315deg, hsla(214.71, 99.46%, 49.59%, 1) 15%, hsla(214.71, 99.46%, 49.59%, 0) 80%),
    linear-gradient(245deg, hsla(66.07, 90.58%, 42.64%, 1) 100%, hsla(66.07, 90.58%, 42.64%, 0) 70%);
}
.bg-overlay3 {
  box-shadow: inset 0 0 0 100em rgba(255, 255, 255, 0.2);
}

.character {
  display: inline-block;
  text-transform: capitalize;
  text-align: left;
  width: 50%;
}
@media (max-width: 768px) {
  .character {
    width: 100%;
  }
}

/* misc */
.wauto {
  width: auto;
}